.root:hover .playIcon{
    display: block;
    z-index: 10;
}
.container:hover .button{
    display: block;
    z-index: 10;
}
​
.container:hover .background{
    opacity: 0.8;
}
.container {
    margin: 1%;
    height: 500px;
    width: 500px;
    background-color: black;
}
​
.container:hover .button{
    display: block;
    z-index: 10;
}
​
.container:hover .background{
    opacity: 0.8;
}
​
.background {
    height: 500px;
    width: 500px;
    background-image: url('https://ihg.scene7.com/is/image/ihg/crowne-plaza-new-york-5693606994-4x3?qlt=85,0&resMode=sharp2&op_usm=1.75,0.9,2,0');
    background-size: cover;
}
​
.button {
    width: 80px;
    height: 80px;
    background-color: red;
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
​
.title {
    position: absolute;
    background-color: gray;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    z-index: 10;
}