.slick-slider .slick-slide > div:first-child {
    position: relative;
    margin: 3%;
}
.slick-dots{
    bottom: -20% !important;
}
       
.makeStyles-section-344 {
    padding: 15px 0px !important;
}
.makeStyles-section-400{
    padding: 29px 0px !important;

}